/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: url(background.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 10% 0 0 15%;
  font-family: 'Varela Round', sans-serif;
}

section{
  background-color: rgba(240, 255, 255, .2);
  padding: 2%;
  width: 40%
}

img{
  display: block;
  margin: 0 auto;
}

input{
  margin: 20px 0;
}

h2{
  margin: 10px 0;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
